<a href="https://colab.research.google.com/github/Sai-kurapati4/CODING-SAMURAI-INTERNSHIP-TASK/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input("enter a number"))
print("even"if n%2==0 else"odd")

enter a number2
even

In [ ]:
print(4//3)

1

In [ ]:

numbers = [10, 20, 5, 30,30,25]
largest =  float('-inf')
second_largest = float('-inf')
for num in numbers:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest and num!= largest:
        second_largest = num
print("second largets value is ", second_largest)
print("largest value in the list is ",largest)

second largets value is  25
largest value in the list is  30

step1:num=10
largest=-inf
since num > largest
sec_lar=-inf
largest=10
step2:num=20
since 20>10
sec_larg=10
largest=20
step3:num=5
since num < largest&sec_largest
step4:num=30
since 30>20
sec_largest =20
largest =30
step5:num=30
since 30>30 goes to elif condition
30>20&30=30 since the elif conditon does not satisfied returns to the for loop

random library-otp generator and checker

In [ ]:
import random
global otp
def otp_generator():
  otp=random.randint(10000,99999)
  print("your otp is:",otp)
def otp_checker():
  global enter_otp
  enter_otp=int(input("enter the otp "))
  if otp==enter_otp:
    print("otp is correct")
  else:
    print("otp is incorrect")
def main():
  otp_generator()
  otp_checker()
main()

your otp is: 90500
enter the otp 643667
otp is incorrect

data type changing

In [ ]:
from pickle import STRING
s=15
k="hi"

n=str(s)
print(n+k)

15hi

fibonacci numbers

In [ ]:
a=0
b=1
n=int(input("enter n"))
print(a)
print(b)
for  i in range(n):
  c=a+b
  a=b
  b=c
  print(c)

enter n4
0
1
1
2
3
5

prime number

In [ ]:
def prime_number():
  n=int(input("enter a number"))
  if n<2:
    print("not a prime number")
  else:
   for i in range(2,n-1):
     if n%i==0:
      print("not a prime number")
      break
     else :
      print("prime number")
def main():
  prime_number()
main()

enter a number9
prime number
not a prime number

In [ ]:
def prime_number():
    n = int(input("Enter a number: "))
    if n < 1:
        print("Enter a positive number")
    elif n == 1:
        print("1 is not a prime number")
    else:
        for i in range(2, n):
            if n % i == 0:
                print("Not a prime number")
                break
        else:
            print("Prime number")
def main():
  prime_number()
main()
num=int(input("enter a number"))

sai

To shift the number to last.

In [ ]:
L=[1,2,3,5,6]

for i in L:
  if i==3:
    L.remove(i)
    L.append(i)
for j in L:
  if j==2:
    L.remove(j)
    L.append(j)
print(L)

[1, 5, 6, 3, 2]

In [ ]:

i=int(input("enter the number of columns "))
n=1
for n in range(i):
  print(n*"*")

enter the number of columns 3

*
**

reversing a string

In [ ]:
s="sai ganesh"
k="-btech"
print(s[1:])
print(s[:4],k[1:9])
print(s[:1])
print(s[::-1])
print(k[::-1])
print(s[::-1],k[::-1])

ai ganesh
sai  btech
s
hsenag ias
hcetb-
hsenag ias hcetb-

remove duplicates in list

In [ ]:
first_list = [1, 2, 2, 3, 4, 4, 5]
second_list = []

for i in first_list:
    if i not in second_list:
        second_list.append(i)

print(second_list)

[1, 2, 3, 4, 5]

In [ ]:
import random
choice=["rock","paper","scissors"]
enter=input("enter choice")
enter=enter.lower()
computer=random.choice(choice)
if enter==computer:
    print("its a draw")
elif(enter == "rock" and computer == "scissors") or \
     (enter == "paper" and computer == "rock") or \
     (enter == "scissors" and computer == "paper"):
    print("You won!")
else :
   print("you lost")
   print("play again")
   print("computer choice is :",computer)

enter choicerock
You won!

dice

In [ ]:
import random
while True:
  enter=input("wanna roll the dice:(yes/no)")
  enter=enter.lower()
  if enter =="no":
    print("thanks for playing!")
    break
  else:
    dice=random.randint(1,6)
    print(f"dice value is{dice} ")

wanna roll the dice:(yes/no)yes
dice value is3
wanna roll the dice:(yes/no)no
thanks for playing!

quiz

In [ ]:
def quiz():
  q1="what is national animal"
  q2="what is national bird"
  q3="which company manufactures fortuner"
  q4="rohit sharma jersey number"
  score=0
  print(q1,"?")
  ans1=input("")
  if ans1=="tiger":
    print("you are correct")
    score=score+1
  else:
    print("you are wrong")
    print("answer is tiger")
  print(q2,"?")
  ans2=input("")
  if ans2=="pigeon":
    print("you are correct")
    score=score+1
  else:
    print("you are wrong")
    print("answer is pigeon")
  print(q3,"?")
  ans3=input("")
  if ans3=="toyota":
    print("you are correct")
    score=score+1
  else:
    print("you are wrong")
    print("answer is toyota")
  print(q4,"?")
  ans4=input("")
  if ans4=="45":
    print("you are correct")
    score=score+1
  else:
    print("you are wrong")
    print("answer is 45")
  print("your score is :",score)
  print("thank you for playing")
def main():
 quiz()
main()

what is national animal ?
you are wrong
answer is tiger
what is national bird ?

In [ ]:
"""first type"""
arr1=[1,2,3,4,5]
i=0
j=len(arr1)-1
while i<j:
      arr1[i],arr1[j]=arr1[j],arr1[i]
      i+=1
      j-=1
print("revresed string is:",arr1)

revresed string is: [5, 4, 3, 2, 1]

In [ ]:
arr=[1,2,4,5,6]
n=len(arr)+1
expected_sum=(n*(n+1))//2
actual_sum=0
for i in range(0,n-1):
  actual_sum+=arr[i]
print(expected_sum-actual_sum)

3

even function

In [ ]:
def isEven(n):
    if n % 2 == 0:
        print("even")
    else:
        print("odd")

def main():
    n = int(input("Enter a number: "))
    isEven(n)

main()

Enter a number: 34
even

In [ ]:
multiplication function

In [ ]:
def table(n):
  for i in range(1,11):
    print(f"{n} * {i} ={n*i}")
def main():
  n=int(input("enter n"))
  table(n)
main()

enter n23
23 * 1 =23
23 * 2 =46
23 * 3 =69
23 * 4 =92
23 * 5 =115
23 * 6 =138
23 * 7 =161
23 * 8 =184
23 * 9 =207
23 * 10 =230

n numbers sum

In [ ]:
def sum_numbers(n):
 sum=0
 for i in range(n+1):
  sum+=i
 print(sum)
def main():
  n=int(input("enter n"))
  sum_numbers(n)
main()

enter n9
45

swap two numbers

In [ ]:
from re import A
"""a=17
b=16
a,b=b,a
print(a)
"""
a=18
b=98
c=a
a=b
b=c
print(a)

98

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Cannot divide by zero"

print("Welcome to Simple Calculator!")
print("Select Operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = input("Enter choice (1/2/3/4): ")

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '1':
    print("Result:", add(num1, num2))
elif choice == '2':
    print("Result:", subtract(num1, num2))
elif choice == '3':
    print("Result:", multiply(num1, num2))
elif choice == '4':
    print("Result:", divide(num1, num2))
else:
    print("Invalid input")